# Replace with your DB credentials!
DATABASE_URL="http://127.0.0.1:8083"
DATABASE_AUTH_TOKEN=""

 # Set it to the public URL in prod
PUBLIC_BASE_URL=""
PRIVATE_KEYS=""
PORT="5173"
LOG_LEVEL="info"

# May be generated with `openssl rand -base64 33`
COOKIE_SECRET=""
