PUBLIC_BASE_URL="" # Set it to the public URL in prod
PORT="5173"
LOG_LEVEL="info"

DATABASE_URL="http://127.0.0.1:8083" # Replace with your DB credentials!
DATABASE_AUTH_TOKEN=""
COOKIE_SECRET="" # May be generated with `openssl rand -base64 33`
PRIVATE_KEYS=""
